:root {
  --bg-clr: hsl(230, 35%, 7%);

  --clr-primary: hsl(231, 77%, 90%);
  --clr-secondary: hsl(0, 0%, 100%);

  --font-family-primary:'Bellefair', serif;
  --font-family-secondary:'Barlow Condensed', sans-serif;
  --font-family-body-text: 'Barlow', sans-serif;

  --font-weight-normal: 400;

  --fs-head-1: 9.375rem;
  --fs-head-2: 6.25rem;
  --fs-head-3: 3.5rem;
  --fs-head-4: 2rem;
  --fs-head-subhead: 1.75rem;
  --fs-text: 1.125rem;
  --fs-nav: 1rem;
  --fs-sub-head-2: 0.875rem;

  --letter-space-head-5: 4.75px;
  --letter-space-nav: 2.7px;
  --letter-space-sub-head-2: 2.35px;
}

h1,h2,h3,h4,.sub-head-1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
}
.body-text {
  font-family: var(--font-family-body-text);
  font-weight: var(--font-weight-normal);
}
h5,nav,.sub-head-2 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
}

body {
  overflow-x: hidden;
  background-color: var(--bg-clr);
  /* min-width: 375px; */
}

#root {
  position: relative;
}

/* Burger Menu */
.burger-menu {
  display: none;
}

/* ----- Background ----- */
.landing-bg {
  background-color: var(--bg-clr);
  background: no-repeat url('./images/home/background-home-desktop.jpg') center/cover;
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.destination-bg {
  background-image: url('./images/destination/background-destination-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.crew-bg {
  background: url('./images/crew/background-crew-desktop.jpg') center/cover no-repeat;
  position: absolute;
  inset: 0;
  padding-top: 8rem;
  min-height: 100vh;
}

.technology-bg {
  background: url('./images/technology/background-technology-desktop.jpg') center/cover no-repeat;
  position: absolute;
  top: 0;
  min-height: 100vh;
}

/* FONTS */
.heading-4 {
  font-size: var(--fs-head-4);
  text-transform: uppercase;
  opacity: 0.5;
  color: var(--clr-secondary);
}
.heading-3 {
  font-size: var(--fs-head-3);
  color: var(--clr-secondary);
  text-transform: uppercase;
}
.section-title {
  opacity: 0.25;
  font-weight: bold;
  color: var(--clr-secondary);
  padding-right: 1rem;
}
.body-text {
  font-size: var(--fs-text);
  color: var(--clr-primary);
  line-height: 1.8;
}
.selected {
  border-bottom: 3px solid var(--clr-secondary);
  pointer-events: none;
}

/* ----- Navigation ----- */
.primary-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  margin-block: 2rem;
}
.primary-header::after {
  content: '';
  position: relative;
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.3);
  display: block;
  order: 1;
  margin-right: -2.5rem;
}
.logo {
  margin: 1.5rem clamp(1.5rem, 4vw, 3rem);
  flex-shrink: 0;
}
.primary-navigation {
  display: flex;
  order: 2;
  gap: 2.5rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  letter-spacing: var(--letter-space-nav);
  padding-inline: clamp(3rem, 7vw, 7rem);
}
.list-item {
  padding: 1.75rem 0;
}
.list-item:hover {
  cursor: pointer;
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.list-item-number {
  font-weight: bold;
  color: var(--clr-secondary);
  padding-right: 8px;
}
.list-item a {
  color: var(--clr-secondary);
}
/* ----- Navigation Media Queries ----- */
@media (max-width: 850px) { /* TABLET SIZE TARGET */
  .primary-navigation {
    align-items: center;
    gap: 2rem;
  }
  .list-item-number {
    display: none;
  }
  .primary-header::after {
    width: 0;
    height: 0;
    background: none;
  }
}

@media(min-width: 570px) and (max-width: 768px) {
  .primary-header {
    margin-block: 0;
  }
}

@media (max-width: 570px) {
  .burger-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1000;
    right: 1.5rem;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    background: transparent;
    background: url(/src/images/shared/icon-hamburger.svg) no-repeat center;
  }
  .primary-navigation {
    position: fixed;
    flex-direction: column;
    padding: 10rem 2rem;
    inset: 0 0 0 30%;
    align-items: flex-start;
    transform: translate(100%);
    z-index: 900;
    transition: transform ease-out 500ms;
  }
  .list-item {
    padding: 0 0 0.5rem;
  }
  .list-item-number {
    display: inline-block;
  }
  .menu-open {
    transform: translate(0%);
  }
}

/* ----- Landing Page Section ----- */
.landing-page {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: min(90%, 80rem);
  margin-inline: auto;
  padding-inline: 2rem;
  height: 37.5rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.landing-page .left-section {
  flex-basis: 28rem;
}
.sub-heading-5 {
  font-size: var(--fs-head-subhead);
  letter-spacing: var(--letter-space-head-5);
  color: var(--clr-primary);
}
.heading {
  font-size: clamp(5rem, 12vw ,var(--fs-head-1));
  color: var(--clr-secondary);
}
.left-section .body-text {
  font-size: clamp(15px, 5vw, 18px);
}
.btn-explore {
  background: var(--clr-secondary);
  color: black;
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}
.btn-explore::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}
.btn-explore:hover::after {
    opacity: 1;
    transform: scale(1.5);
}

/* ----- Landing Page Media Queries ----- */

@media (max-width: 850px) { /* TABLET SIZE */
  .landing-bg {
    background: no-repeat url('./images/home/background-home-tablet.jpg') center/cover;
  }
  .left-section {
    text-align: center;
  }
  .left-section .sub-heading-5 {
    font-size: 1.25rem;
  }
  .left-section .body-text {
    font-size: 1rem;
  }
}

@media (max-width: 500px) { /* Going MOBILE SIZE */
  .landing-bg {
    background: no-repeat url('./images/home/background-home-mobile.jpg') center/cover;
  }
  .left-section .sub-heading-5 {
    font-size: 1rem;
  }
  .left-section .body-text {
    font-size: 0.9375rem;
  }
  .btn-explore {
    font-size: 1.25rem;
  }
}

@media (max-height: 665px) {
  .landing-page {
    align-content: center; 
    margin-top: 3rem;
  }
}

/* ----- Destination Section ----- */
.destination {
  display: grid;
  width: min(90%, 80rem);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-top: 8rem;
}
.destination-display {
  display: flex;
  flex-direction: column;
}
.destination-display .sub-heading-5 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: var(--clr-secondary);
}
.destination-display img {
  padding-left: 3rem;
}
.current-destination {
  justify-self: center;
}
.destinations-selection {
  display: flex;
  font-family: var(--font-family-secondary);
  letter-spacing: var(--letter-space-nav);
  text-transform: uppercase;
  height: 35px;
}
.destinations-selection li {
  color: var(--clr-primary);
  height: inherit;
  cursor: pointer;
}
.destinations-selection li:not(:last-child) {
  margin-right: 1rem;
}
.destinations-selection li:hover {
  color: var(--clr-secondary);
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.destination-information .heading-2 {
  font-size: var(--fs-head-2); /* Fallback value */
  font-size: clamp(3.5rem, 8vw, var(--fs-head-2));
  text-transform: uppercase;
  color: var(--clr-secondary);
}
.destination-information .body-text {
  font-family: var(--font-family-secondary);
  letter-spacing: 1px;
  width: 25rem;
}
.destination-information .avg-travel {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  display: flex;
}
.destination-information .sub-head-2 {
  font-size: var(--fs-sub-head-2);
  color: var(--clr-primary);
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
}
.avg-distance {
  margin-right: 2.5rem;
  letter-spacing: var(--letter-space-sub-head-2);
}
.est-travel {
  letter-spacing: var(--letter-space-sub-head-2);
}
.des-head-2 {
  font-family: var(--font-family-primary);
  font-size: var(--fs-head-subhead);
  text-transform: uppercase;
  color: var(--clr-secondary);
}
/* ----- Destination Page Media Queries ----- */
@media (max-width: 850px) {
  .destination-bg {
    background-image: url('./images/destination/background-destination-tablet.jpg');
  }
  .destination {
    grid-template-columns: 1fr;
    place-items: center;
    margin-block: 9rem 5rem;
    padding-inline: 0;
  }
  .destination-display {
    width: 100%;
    align-items: center;
  }
  .destination-display .sub-heading-5 {
    font-size: 1.25rem;
    align-self: start;
  }
  .destination-display img {
    padding-left: 0;
  }
  .current-destination {
    text-align: center;
  }
  .destinations-selection {
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .destination-information .body-text {
    width: 33rem;
    font-size: 1rem;
  }
  .avg-travel {
    justify-content: center;
    margin-top: 2.5rem;
  }
  
}
@media (max-width: 650px) {
  .destination {
    gap: 1.5rem;
  }
  .destination-display .sub-heading-5 {
    align-self: center;
    font-size: 1rem;
  }
  .destination-display img {
    max-width: 80%;
  }
  .destinations-selection {
    font-size: 0.875rem;
    gap: 0.5rem;
  }
  .destination-information .body-text {
    width: 20rem;
    font-size: 0.9375rem;
  }
}
@media (max-width: 410px) {
  .destination-bg {
    background-image: url('./images/destination/background-destination-mobile.jpg');
  }
  .destinations-selection {
    margin-bottom: 1rem;
  }
  .destination-information .body-text {
    width: 20rem;
  }
}

/* ----- Crew Section ----- */
.crew-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: min(90%, 79rem);
  margin-inline: auto;
  height: 100%;
  align-items: center;
}
.crew-container .sub-heading-5 {
  color: var(--clr-secondary);
  text-transform: uppercase;
  align-self: center;
}
.crew-information .body-text {
  width: 77%;
  margin-top: 1rem;
}
.page {
  display: flex;
  gap: 1rem;
}
.crew-img-container {
  grid-column-start: 2;
  grid-row: 1 / 4;
  align-self: end;
  justify-self: center;
}
.btn-dot {
  width: 15px;
  height: 15px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.btn-dot:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
}
.dot-active {
  background-color: var(--clr-secondary);
  pointer-events: none;
}

/* ----- Crew Page Media Queries ----- */
@media (max-width: 1120px) {
  .crew-container .sub-heading-5 {
    align-self: end;
  }
  .crew-information .heading-4 {
    font-size: 1.8rem;
  }
  .crew-information .heading-3 {
    font-size: 3rem;
  }
}
@media (max-width: 960px) {
  .crew-bg {
    background-image: url('images/crew/background-crew-tablet.jpg');
  }
  .crew-container {
    grid-template-columns: 1fr;
  }
  .crew-information {
    text-align: center;
  }
  .crew-container .page {
    justify-self: center;
  }
  .crew-container .sub-heading-5 {
    font-size: 1.25rem;
  }
  .crew-information .heading-4 {
    font-size: 1.5rem;
  }
  .crew-information .heading-3 {
    font-size: 2.5rem;
  }
  .crew-information .body-text {
    font-size: 0.9375rem;
    width: 62%;
    margin-inline: auto;
  }
  .crew-img-container {
    grid-column-start: 1;
    grid-row: 4;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  }
  .crew-img-container .crew-img {
    max-width: 60%;
    margin-inline: auto;
  }
  .btn-dot {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 575px) {
  .crew-bg {
    background-image: url('images/crew/background-crew-mobile.jpg');
  }
  .crew-container {
    gap: 1rem;
    place-content: start;
  }
  .crew-container .sub-heading-5 {
    margin-bottom: 2rem;
    justify-self: center;
    font-size: 1rem;
    letter-spacing: var(--letter-space-nav);
  }
  .crew-container .page {
    grid-row: 3;
    margin-block: 1rem;
  }
  .crew-information {
    align-self: start;
  }
  .crew-information .heading-4 {
    font-size: 1rem;
  }
  .crew-information .heading-3 {
    font-size: 1.5rem;
  }
  .crew-information .body-text {
    font-size: 0.9375rem;
    margin-block: 1rem 0;
    width: 100%;
  }
  .crew-img-container {
    grid-row: 2/3 ;
  }
  .crew-img-container .crew-img {
    max-width: 40%;
    margin-inline: auto;
  }
}

/* ----- Technology Page Section ----- */
.technology-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  grid-template-rows: 4.375rem 1fr;
  width: min(90%, 80rem);
  height: 85%;
  place-items: center;
  gap: 2rem 1rem;
  margin-block: 8rem 5rem;
}
.technology-info-container .sub-heading-5 {
  text-transform: uppercase;
  color: var(--clr-secondary);
  justify-self: start;
}
.technology-info-container .body-text:first-child {
  font-size: var(--fs-nav);
}
.technology-info {
  grid-column: 1;
  grid-row: 2 /3;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.btn-numbered-dot {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.btn-numbered-dot:not(:last-child) {
  margin-bottom: 2rem;
}
.btn-numbered-dot:hover {
  border: 1px solid var(--clr-secondary);
  cursor: pointer;
}
.technology-details .body-text:first-child {
  font-family: var(--font-family-secondary);
  letter-spacing: var(--letter-space-sub-head-2);
}
.technology-info-container picture {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}
.space-active {
  background-color: var(--clr-secondary);
  pointer-events: none;
  color: black;
}

/* ----- Technology Page Media Queries ----- */
@media (min-width: 1540px) {
  .technology-info-container {
    margin-inline: auto;
  }
}
@media (max-width: 1024px) {
  .technology-info-container {
    width: min(95%, 70rem);
  }
  .technology-details .heading-3 {
    font-size: 2.5rem;
  }
  .btn-numbered-dot {
    width: 65px;
    height: 65px;
  }
  .technology-info-container picture {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
  }
}

@media(max-width: 960px) {
  .technology-bg {
    background-image: url('./images/technology/background-technology-tablet.jpg');
  }
  .technology-info-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin-inline: 0;
    width: 100%;
    gap: 3rem;
  }
  .technology-info-container .sub-heading-5 {
    margin-left: 3rem;
  }
  .technology-info {
    flex-direction: column;
    text-align: center;
    grid-row: 3;
  }
  .btn-numbers {
    display: flex;
    gap: 2rem;
  }
  .btn-numbered-dot {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
  .btn-numbered-dot:not(:last-child) {
    margin-bottom: 0;
  }
  .technology-details {
    width: 57%;
  }
  .technology-details .body-text:nth-of-type(2) {
    font-size: 1rem;
  }
  .technology-info-container > picture {
    grid-column: 1;
    justify-self: center;
  }
}

@media (max-width: 590px) {
  .technology-info-container {
    gap: 2rem;
  }
  .technology-info-container .sub-heading-5 {
    margin-left: 0;
    justify-self: center;
    font-size: 1rem;
  }
  .btn-numbers {
    gap: 1rem;
  }
  .btn-numbered-dot {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .technology-details {
    width: 90%;
  }
  .technology-details .heading-3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .technology-details .body-text:nth-of-type(2) {
    font-size: 0.9375rem;
  }
}