:root {
  --bg-clr: hsl(230, 35%, 7%);

  --clr-primary: hsl(231, 77%, 90%);
  --clr-secondary: hsl(0, 0%, 100%);

  --font-family-primary:'Bellefair', serif;
  --font-family-secondary:'Barlow Condensed', sans-serif;
  --font-family-body-text: 'Barlow', sans-serif;

  --font-weight-normal: 400;

  --fs-head-1: 9.375rem;
  --fs-head-2: 6.25rem;
  --fs-head-3: 3.5rem;
  --fs-head-4: 2rem;
  --fs-head-subhead: 1.75rem;
  --fs-text: 1.125rem;
  --fs-nav: 1rem;
  --fs-sub-head-2: 0.875rem;

  --letter-space-head-5: 4.75px;
  --letter-space-nav: 2.7px;
  --letter-space-sub-head-2: 2.35px;
}

h1,h2,h3,h4,.sub-head-1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
}
.body-text {
  font-family: var(--font-family-body-text);
  font-weight: var(--font-weight-normal);
}
h5,nav,.sub-head-2 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
}

body {
  overflow-x: hidden;
  background-color: var(--bg-clr);
  /* min-width: 375px; */
}

/* Burger Menu */
.burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  border: 0;
  background: url(/src/images/shared/icon-hamburger.svg) no-repeat center;
  margin-right: 25px;
}

/* ----- Background ----- */

.landing-bg {
  background-color: var(--bg-clr);
  background: no-repeat url('./images/home/background-home-desktop.jpg') center/cover;
}

.destination-bg {
  background-image: url('./images/destination/background-destination-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.crew-bg {
  background: url('./images/crew/background-crew-desktop.jpg') center/cover no-repeat;
  position: absolute;
  inset: 0;
  padding-top: 8rem;
  min-height: 100vh;
}

.technology-bg {
  background: url('./images/technology/background-technology-desktop.jpg') center/cover no-repeat;
}

/* FONTS */
.heading-4 {
  font-size: var(--fs-head-4);
  text-transform: uppercase;
  opacity: 0.5;
  color: var(--clr-secondary);
}
.heading-3 {
  font-size: var(--fs-head-3);
  color: var(--clr-secondary);
  text-transform: uppercase;
}
.section-title {
  opacity: 0.25;
  font-weight: bold;
  color: var(--clr-secondary);
  padding-right: 1rem;
}

.selected {
  border-bottom: 3px solid var(--clr-secondary);
  pointer-events: none;
}

/* ----- Navigation ----- */
.nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.logo {
  margin-left: 3rem;
  flex-shrink: 0;
  flex-basis: 10%;
}
.line {
  border-bottom: 1px solid grey;
  flex: 1;
  position: relative;
  left: 45px;
  z-index: 2;
}
.nav-lists {
  display: flex;
  flex: 1.3;
  gap: 2.5rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  letter-spacing: var(--letter-space-nav);
  padding-inline: 5rem;
}
.list-item {
  padding: 1.75rem 0;
}
.list-item:hover {
  cursor: pointer;
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.list-item-number {
  font-weight: bold;
  color: var(--clr-secondary);
  padding-right: 8px;
}
.list-item a {
  color: var(--clr-secondary);
}
/* ----- Navigation Media Queries ----- */
@media (max-width: 768px) { /* TABLET SIZE */
  .landing-bg {
    background: no-repeat url('./images/home/background-home-tablet.jpg') center/cover;
  }
  .logo {
    flex: 1 0;
  }
  .line {
    display: none;
  }
  .nav-lists {
    height: inherit;
    align-items: center;
  }
  .list-item-number {
    display: none;
  }
}

@media(min-width: 700px) and (max-width: 768px) {
  .nav {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .burger-menu {
    display: block;
    z-index: 1000;
  }
  .nav-lists {
    display: none; /* for now (there is bug) or maybe it needs to be hide anyway*/
    position: absolute;
    flex-direction: column;
    padding: 5rem 2rem 5rem 4rem;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    align-items: flex-start;
    transform: translate(100%);
    /* transition: transform ease-out 1ms; */
  }
  .list-item {
    padding: 0 0 0.5rem;
  }
  .list-item-number {
    display: inline-block;
  }
  .menu-open {
    transform: translate(0%);
    /* transition: transform ease-out 1ms; */
  }
}

@media (max-width: 425px) { /* MOBILE SIZE */
  .landing-bg {
    background: no-repeat url('./images/home/background-home-mobile.jpg') center/cover;
  }
}

/* ----- Landing Page Section ----- */
.landing-page {
  display: flex;
  min-height: 100vh;
  align-items: flex-end;
  justify-content: space-around;
  padding-block: 8rem;
}
.left-section {
  flex: 0.4;
  padding-left: 2rem;
}
.sub-heading-5 {
  font-size: var(--fs-head-subhead);
  letter-spacing: var(--letter-space-head-5);
  color: var(--clr-primary);
}
.heading {
  font-size: var(--fs-head-1);
  color: var(--clr-secondary);
}
.left-section .body-text {
  width: 450px; /* move it to the appropirate class */
}
.body-text {
  font-size: var(--fs-text);
  color: var(--clr-primary);
  line-height: 1.8;
}
.btn-hover {
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  font-size: var(--fs-head-4);
}
.btn-explore {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background: var(--clr-secondary);
  width: 270px;
  height: 270px;
}
.btn-hover:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  transition: background-color 0.8s cubic-bezier(0.17, 0.29, 0.36, 1.11);
}

/* ----- Landing Page Media Queries ----- */

@media (max-width: 768px) { /* TABLET SIZE */
  .landing-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 0;
  }
  .left-section {
    flex: 0;
    padding-left: 0;
  }
  .sub-heading-5 {
    font-size: 1.25rem;
  }
  .btn-explore {
    width: 240px;
    height: 240px;
  }
  .btn-hover {
    width: 345px;
    height: 345px;
  }
}

@media (max-width: 500px) { /* Going MOBILE SIZE */
  .landing-page {
    justify-content: center;
  }
  .left-section {
    padding-inline: 1.2rem;
  }
  .sub-heading-5 {
    font-size: var(--fs-nav);
  }
  .heading {
    font-size: 5rem;
  }
  .body-text {
    font-size: 0.9375rem;
    width: auto;
  }
}

/* ----- Destination Section ----- */
.destination {
  display: flex;
  /* flex-wrap: wrap; */
  min-height: 100vh;
  align-items: flex-end;
  justify-content: center;
  gap: 12rem;
  padding-block: 8rem 5rem;
  margin-inline: 3rem;
}
.destination-display {
  display: flex;
  flex-direction: column;
}
.destination-display .sub-heading-5 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: var(--clr-secondary);
}
.destination-display img {
  padding-left: 3rem;
}
.current-destination {
  padding: 2.5rem 1rem;
}
.destinations-selection {
  display: flex;
  font-family: var(--font-family-secondary);
  letter-spacing: var(--letter-space-nav);
  text-transform: uppercase;
  height: 35px;
}
.destinations-selection li {
  color: var(--clr-primary);
  height: inherit;
  cursor: pointer;
}
.destinations-selection li:not(:last-child) {
  margin-right: 1rem;
}
.destinations-selection li:hover {
  color: var(--clr-secondary);
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.heading-2 {
  font-size: var(--fs-head-2); /* Fallback value */
  font-size: clamp(3.5rem, 2.1635rem + 5.94vw, var(--fs-head-2));
  text-transform: uppercase;
  color: var(--clr-secondary);
}
.destination-information .body-text {
  font-family: var(--font-family-secondary);
  letter-spacing: 1px;
  width: 25rem;
}
.destination-information .avg-travel {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  display: flex;
}
.destination-information .sub-head-2 {
  font-size: var(--fs-sub-head-2);
  color: var(--clr-primary);
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
}
.avg-distance {
  margin-right: 2.5rem;
  letter-spacing: var(--letter-space-sub-head-2);
}
.est-travel {
  letter-spacing: var(--letter-space-sub-head-2);
}
.des-head-2 {
  font-family: var(--font-family-primary);
  font-size: var(--fs-head-subhead);
  text-transform: uppercase;
  color: var(--clr-secondary);
}
/* ----- Destination Page Media Queries ----- */
@media (max-width: 1220px) {
  .destination {
    gap: 4rem;
  }
}
@media (max-width: 1084px) {
  .destination-information .body-text {
    width: 20rem;
  }
}
@media (max-width: 950px) {
  .destination-bg {
    background-image: url('./images/destination/background-destination-tablet.jpg');
  }
  .destination {
    padding-block: 11rem 0;
    flex-direction: column;
    align-items: center;
  }
  .destination-display {
    width: 100%;
    align-items: center;
  }
  .destination-display .sub-heading-5 {
    align-self: flex-start;
  }
  .destination-display img {
    padding-left: 0;
  }
  .current-destination {
    text-align: center;
  }
  .destinations-selection li:not(:last-child) {
    margin-right: 2rem;
  }
  .destination-information .body-text {
    width: 37rem;
  }
  .destination-information .avg-travel {
    padding-top: 2rem;
  }
  .destinations-selection, .avg-travel {
    justify-content: center;
  }
  .destination-information .avg-distance {
    margin-right: 5rem;
  }
}
@media (max-width: 650px) {
  .destination-display .sub-heading-5 {
    align-self: center;
  }
  .destination-information .body-text {
    width: 23.4375rem;
  }
  .destination-information .avg-travel {
    flex-direction: column;
    gap: 20px;
  }
  .destination-information .avg-distance {
    margin-right: 0;
  }
}
@media (max-width: 410px) {
  .destination-bg {
    background-image: url('./images/destination/background-destination-mobile.jpg');
  }
  .destinations-selection {
    margin-bottom: 1rem;
  }
  .destination-information .body-text {
    width: 20rem;
  }
}

/* ----- Crew Section ----- */
.crew-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: min(90%, 75rem);
  margin-inline: auto;
  height: 100%;
  align-items: center;
}
.crew-container .sub-heading-5 {
  color: var(--clr-secondary);
  text-transform: uppercase;
  align-self: center;
}
.crew-information .body-text {
  width: 77%;
  margin-top: 1rem;
}
.page {
  display: flex;
  gap: 1rem;
}
.crew-img-container {
  grid-column-start: 2;
  grid-row: 1 / 4;
  align-self: end;
  justify-self: center;
}
.btn-dot {
  width: 15px;
  height: 15px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.btn-dot:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
}
.dot-active {
  background-color: var(--clr-secondary);
  pointer-events: none;
}

/* ----- Crew Page Media Queries ----- */
@media (max-width: 1120px) {
  .crew-container .sub-heading-5 {
    align-self: end;
  }
  .crew-information .heading-4 {
    font-size: 1.8rem;
  }
  .crew-information .heading-3 {
    font-size: 3rem;
  }
}
@media (max-width: 960px) {
  .crew-bg {
    background-image: url('images/crew/background-crew-tablet.jpg');
  }
  .crew-container {
    grid-template-columns: 1fr;
  }
  .crew-information {
    text-align: center;
  }
  .crew-container .page {
    justify-self: center;
  }
  .crew-container .sub-heading-5 {
    font-size: 1.25rem;
  }
  .crew-information .heading-4 {
    font-size: 1.5rem;
  }
  .crew-information .heading-3 {
    font-size: 2.5rem;
  }
  .crew-information .body-text {
    font-size: 0.9375rem;
    width: 62%;
    margin-inline: auto;
  }
  .crew-img-container {
    grid-column-start: 1;
    grid-row: 4;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  }
  .crew-img-container .crew-img {
    max-width: 60%;
    margin-inline: auto;
  }
  .btn-dot {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 575px) {
  .crew-bg {
    background-image: url('images/crew/background-crew-mobile.jpg');
  }
  .crew-container {
    gap: 1rem;
    place-content: start;
  }
  .crew-container .sub-heading-5 {
    margin-bottom: 2rem;
    justify-self: center;
    font-size: 1rem;
    letter-spacing: var(--letter-space-nav);
  }
  .crew-container .page {
    grid-row: 3;
    margin-block: 1rem;
  }
  .crew-information {
    align-self: start;
  }
  .crew-information .heading-4 {
    font-size: 1rem;
  }
  .crew-information .heading-3 {
    font-size: 1.5rem;
  }
  .crew-information .body-text {
    font-size: 0.9375rem;
    margin-block: 1rem 0;
    width: 100%;
  }
  .crew-img-container {
    grid-row: 2/3 ;
  }
  .crew-img-container .crew-img {
    max-width: 40%;
    margin-inline: auto;
  }
}

/* ----- Technology Page Section ----- */
.technology {
  min-height: 100vh;
  padding-top: 8rem;
  margin-left: 3rem;
  display: flex;
}
.technology-info-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 3rem 5rem;
}
.technology-info-container .sub-heading-5 {
  text-transform: uppercase;
  color: var(--clr-secondary);
}
.technology-info-container .body-text:first-child {
  font-size: var(--fs-nav);
}

.technology-info {
  display: flex;
  flex-basis: 100%;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.btn-numbers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.btn-numbered-dot {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid var(--clr-primary);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.btn-numbered-dot:hover {
  background-color: var(--clr-secondary);
  color: black;
}
.technology-details {
  flex-basis: 500px;
  /* display: flex;
  flex-direction: column; */
}

/* ----- Crew Page Media Queries ----- */

@media(max-width: 1230px) {
  .technology-info-container {
    margin-left: 0;
  }
  .btn-numbered-dot {
    width: 73px;
    height: 73px;
  }
  .technology-details .heading-3 {
    font-size: 2.7rem;
  }
  .technology-info-container .body-text:nth-of-type(2) {
    font-size: 0.9375rem;
  }
}

@media(max-width: 925px) {
  .technology-bg {
    background-image: url('./images/technology/background-technology-tablet.jpg');
  }
  .technology {
    margin-left: 0;
    justify-content: center;
  }
  .technology-info {
    flex-direction: column;
  }
  .technology-info-container .sub-heading-5 {
    margin-left: 3rem;
  }
  .btn-numbers {
    flex-direction: row;
    order: 2;
  }
  .btn-numbered-dot {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
  .technology-details {
    order: 3;
    text-align: center;
    flex-basis: 350px;
  }
  .technology-details .body-text {
    width: 410px;
  }
  .technology-info picture {
    order: 1;
    margin-block: 2rem;
  }
}

@media (max-width: 520px) {
  .technology-bg {
    background-image: url('./images/technology/background-technology-mobile.jpg');
  }
  .technology-info-container {
    align-items: center;
  }
  .technology-info-container .sub-heading-5 {
    margin-left: 0;
  }
  .btn-numbered-dot {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
  .technology-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technology-details .body-text:first-child {
    font-size: var(--fs-sub-head-2);
  }
  .technology-details .heading-3 {
    font-size: 1.5rem;
    margin-block: 0.2rem 1rem;
  }
  .technology-details .body-text:nth-of-type(2) {
    font-size: 0.9375rem;
    width: 375px;
    padding: 0 20px;
  }
}